In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
# Load and read train_data.csv

In [3]:
train_data = pd.read_csv('train_LZdllcl.csv')

In [4]:
train_data.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0

In [5]:
train_data['is_promoted'].sum()

4668

In [6]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54808 entries, 0 to 54807
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   employee_id           54808 non-null  int64
 1   department            54808 non-null  object
 2   region                54808 non-null  object
 3   education             52399 non-null  object
 4   gender                54808 non-null  object
 5   recruitment_channel   54808 non-null  object
 6   no_of_trainings       54808 non-null  int64
 7   age                   54808 non-null  int64
 8   previous_year_rating  50684 non-null  float64
 9   length_of_service     54808 non-null  int64
 10  KPIs_met >80%         54808 non-null  int64
 11  awards_won?           54808 non-null  int64
 12  avg_training_score    54808 non-null  int64
 13  is_promoted           54808 non-null  int64
dtypes: float64(1), int64(8), object(5)
memory usage: 5.9+ MB

In [7]:
train_data.isnull().sum()

employee_id                0
department                 0
region                     0
education               2409
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating    4124
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
is_promoted                0
dtype: int64

In [8]:
train_data['education'].fillna("Not available", inplace=True)

In [9]:
train_data['previous_year_rating'].fillna(train_data['previous_year_rating'].mean(), inplace=True)

In [10]:
# Import libraries for train and test

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, f1_score

In [12]:
train_data.columns

Index(['employee_id', 'department', 'region', 'education', 'gender',
       'recruitment_channel', 'no_of_trainings', 'age', 'previous_year_rating',
       'length_of_service', 'KPIs_met >80%', 'awards_won?',
       'avg_training_score', 'is_promoted'],
      dtype='object')

In [13]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
train_data['recruitment_channel'] = le.fit_transform(train_data['recruitment_channel'])

In [14]:
X = train_data.drop(['department', 'region', 'education', 'gender', 'recruitment_channel', 'is_promoted'], axis=1)
X

,employee_id,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score
0,65438,1,35,5.0,8,1,0,49
1,65141,1,30,5.0,4,0,0,60
2,7513,1,34,3.0,7,0,0,50
3,2542,2,39,1.0,10,0,0,50
4,48945,1,45,3.0,2,0,0,73
...,...,...,...,...,...,...,...,...
54803,3030,1,48,3.0,17,0,0,78
54804,74592,1,37,2.0,6,0,0,56
54805,13918,1,27,5.0,3,1,0,79
54806,13614,1,29,1.0,2,0,0,45
54807,51526,1,27,1.0,5,0,0,49

In [15]:
Y = train_data['is_promoted']
Y

0        0
1        0
2        0
3        0
4        0
        ..
54803    0
54804    0
54805    0
54806    0
54807    0
Name: is_promoted, Length: 54808, dtype: int64

In [16]:
X_train,X_test,Y_train,Y_test = train_test_split(X, Y, test_size=0.25, random_state=0)

In [17]:
# Training the model

In [18]:
from sklearn.ensemble import RandomForestClassifier

clf_rf = RandomForestClassifier(n_estimators=100, n_jobs=-1)

In [19]:
clf_rf.fit(X_train, Y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=-1, oob_score=False, random_state=None, verbose=0,
                       warm_start=False)

In [20]:
clf_rf.score(X_test, Y_test)

0.9235148153554226

In [21]:
Y_pred_rf = clf_rf.predict(X_test)
Y_pred_rf.sum()

312

In [22]:
f1_score(Y_test, Y_pred_rf)

0.28512960436562074

In [23]:
accuracy_score(Y_test, Y_pred_rf)

0.9235148153554226

In [24]:
from sklearn.tree import DecisionTreeClassifier

clf_dt = DecisionTreeClassifier()

In [25]:
clf_dt.fit(X_train, Y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [26]:
clf_dt.score(X_test, Y_test)

0.8746898263027295

In [27]:
Y_pred_rf = clf_rf.predict(X_test)
Y_pred_rf.sum()

312

In [28]:
f1_score(Y_test, Y_pred_rf), accuracy_score(Y_test, Y_pred_rf)

(0.28512960436562074, 0.9235148153554226)

In [29]:
from xgboost import XGBClassifier

xgb = XGBClassifier(n_estimators=600, learning_rate=1, max_depth=8, min_samples_leaf=75,
                    reg_lambda=10 ,scale_pos_weight = 1, n_jobs=-1, random_state=42)

In [30]:
xgb.fit(X_train, Y_train)

[11:04:15] WARNING: C:\Users\Administrator\workspace\xgboost-win64_release_1.1.0\src\learner.cc:480:
Parameters: { min_samples_leaf } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=1, max_delta_step=0, max_depth=8,
              min_child_weight=1, min_samples_leaf=75, missing=nan,
              monotone_constraints='()', n_estimators=600, n_jobs=-1,
              num_parallel_tree=1, objective='binary:logistic', random_state=42,
              reg_alpha=0, reg_lambda=10, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [31]:
xgb.score(X_test, Y_test)

0.9084075317471902

In [32]:
Y_pred_xgb = xgb.predict(X_test)
Y_pred_xgb.sum()

647

In [33]:
f1_score(Y_test, Y_pred_xgb)

0.303164908384231

In [34]:
accuracy_score(Y_test, Y_pred_xgb)

0.9084075317471902

In [35]:
test_data = pd.read_csv('test_2umaH9m.csv')

In [36]:
test_data.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score
0,8724,Technology,region_26,Bachelor's,m,sourcing,1,24,NaN,1,1,0,77
1,74430,HR,region_4,Bachelor's,f,other,1,31,3.0,5,0,0,51
2,72255,Sales & Marketing,region_13,Bachelor's,m,other,1,31,1.0,4,0,0,47
3,38562,Procurement,region_2,Bachelor's,f,other,3,31,2.0,9,0,0,65
4,64486,Finance,region_29,Bachelor's,m,sourcing,1,30,4.0,7,0,0,61

In [37]:
test_data = test_data.drop(['department', 'region', 'education', 'gender', 'recruitment_channel'], axis=1)

In [38]:
test_data['previous_year_rating'].fillna(test_data['previous_year_rating'].mean(), inplace=True)

In [39]:
Y_test_rf = clf_rf.predict(test_data)
Y_test_rf.sum()

494

In [40]:
Y_test = xgb.predict(test_data)
Y_test.sum()

1006

In [41]:
Y_test_dt = clf_dt.predict(test_data)
Y_test_dt.sum()

2237

In [42]:
test_data

,employee_id,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score
0,8724,1,24,3.339146,1,1,0,77
1,74430,1,31,3.000000,5,0,0,51
2,72255,1,31,1.000000,4,0,0,47
3,38562,3,31,2.000000,9,0,0,65
4,64486,1,30,4.000000,7,0,0,61
...,...,...,...,...,...,...,...,...
23485,53478,1,24,3.000000,1,0,0,61
23486,25600,1,31,3.000000,7,0,0,74
23487,45409,1,26,4.000000,4,0,0,50
23488,1186,3,27,3.339146,1,0,0,70
23489,5973,3,40,5.000000,5,1,0,89

In [44]:
y_pred = pd.DataFrame(Y_test_dt)
y_pred

       0
0      0
1      0
2      0
3      0
4      0
...   ..
23485  0
23486  0
23487  0
23488  0
23489  0

[23490 rows x 1 columns]

In [46]:
test_data = pd.concat([test_data, y_pred], axis=1)
test_data = test_data.rename(columns={0: 'is_promoted'})

In [47]:
test_data

,employee_id,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,8724,1,24,3.339146,1,1,0,77,0
1,74430,1,31,3.000000,5,0,0,51,0
2,72255,1,31,1.000000,4,0,0,47,0
3,38562,3,31,2.000000,9,0,0,65,0
4,64486,1,30,4.000000,7,0,0,61,0
...,...,...,...,...,...,...,...,...,...
23485,53478,1,24,3.000000,1,0,0,61,0
23486,25600,1,31,3.000000,7,0,0,74,0
23487,45409,1,26,4.000000,4,0,0,50,0
23488,1186,3,27,3.339146,1,0,0,70,0
23489,5973,3,40,5.000000,5,1,0,89,0

In [48]:
test_data[['employee_id', 'is_promoted']].to_csv("submission_test.csv")